@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Regular.woff2") format('woff2');
    font-display: swap;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
:root{
    --web-font: Roboto;
    --sidebar-button-color: rgb(0, 166, 255);
    --projects-sidebar-color: #f4b42c;
}
.container{
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 2fr 2fr 1fr;
    width: inherit;
    height: inherit;
}
.sidebar{
    display: grid;
    grid-template: 1fr repeat(2, 2fr) / 1fr;
    grid-column: span 1;
    grid-row: 1 / -1;
    background-color: var(--sidebar-button-color);
    color: white;
    margin: 0;
    padding: 0;
    border: none;
    font-family: var(--web-font);
    position: relative;
}
ul{
    list-style: none;
    margin-left: 20px;
    font-weight: 600;
}
.sidebar img[src$=".svg"]{
    width: 25px;
    height: 25px;
    position: relative;
    right: 25px;
}
h3{
    margin-left: 80px;
    font-size: 2rem;
}
.sidebar img[src$="view-dashboard.svg"]{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 180px;
}
li{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-family: var(--web-font);
}
.header{
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    grid-column: 2 / 5;
    grid-row: span 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    position: relative;
}
#header-1 > #search-bar > input{
    background-color: #e4ecf4;
    border: none;
    outline: none;
    border-radius: 20px;
    width: clamp(200px, 1rem + 40vw ,600px);
    height: 1.5rem;
    font-family: var(--web-font);
    font-weight: 600;
}
#search-bar{
    width: 70%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}
#search-bar img[src$=".svg"]{
    width: 25px;
    height: 25px;
}
#notification-account{
    width: 30%;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    padding-right: 50px;
}
#notification-account > img[src$=".svg"]{
    width: 25px;
    height: 25px;
}
#notification-account > img[src$="916093c6b2dd.jpg"]{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#header-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#notification-account > span{
    font-family: var(--web-font);
    font-weight: 600;
    font-size: 1.3rem;
}
#account-presentation{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
    padding-bottom: 20px;
    width: 60%;
}
#account-presentation >  img[src$="916093c6b2dd.jpg"]{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#header-2{
    display: flex;
    flex-direction: row;
}
#account-presentation >  p{
    font-family: var(--web-font);
    font-weight: 900;
    font-size: 1.5rem;
}
#account-presentation >  p > span{
    font-size: 1rem;
}
#header-2 >  #buttons{
    width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}
#header-2 >  #buttons > button{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 8rem;
    height: 2rem;
    font-family: var(--web-font);
    background-color: var(--sidebar-button-color);
    font-weight: 600;
    color: white;
}
.content{
    display: grid;
    grid-template: 60px repeat(3, 2fr)/  repeat(auto-fit, minmax(400px, 1fr));
    grid-column: 2 / 4;
    grid-row: 2 / 7;
    background-color: #e4ecf4;
    gap: 30px 30px;
    max-width: 100%;
    min-width: 400px;
    width: fit-content;
    padding-left: 30px;
    overflow-x: auto;
    padding-right: 30px;
    padding-bottom: 90px;
}
.content > h3{
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
    justify-self: start;
    align-self: flex-end;
    font-family: var(--web-font);
    font-size: 1.5rem;
    position: relative;
    top: 15px
}
.content > .project{
    font-family: var(--web-font);
    background-color: white;
    border-radius: 15px;
    height: 250px;
    color: rgb(85, 85, 85);
    padding: 30px 20px;
    border-left: 15px solid #f4b42c;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}
.content > .project > p > span{
    color: black;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 40px;
}
.content::-webkit-scrollbar {
    display: none;
}
.project > #project-icons > img[src$=".svg"]{
    width: 25px;
    height: 25px;
}
.project > #project-icons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.project{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.feed{
    display: grid;
    grid-template: 60px 2fr 1fr 2fr 60px/  1fr;
    grid-column: 4 / 5;
    grid-row: 2 / 8;
    background-color: #e4ecf4;
    gap: 30px 30px; 
    overflow-x: auto;
    padding-right: 30px;
}
.feed > #feed-trending > div > img[src$=".jpg"]{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.feed > h3{
    font-family: var(--web-font);
    font-size: 1.5rem;
    justify-self: start;
    align-self: flex-end;
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
    position: relative;
    top: 15px
}
.feed #feed-announcements,
.feed #feed-trending{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}
.feed > #feed-announcements > p{
    color: rgb(85, 85, 85);
    font-family: var(--web-font);
    padding: 30px 20px;
    width: 90%;
}
.feed::-webkit-scrollbar{
    display: none;
}
#feed-announcements > p:nth-child(1),
#feed-announcements > p:nth-child(2){
    border-bottom: 2px solid rgb(85, 85, 85) ;
}
.feed > #feed-announcements > p > span{
    font-family: var(--web-font);
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 2rem;
}
.feed > #feed-announcements > p{
    justify-self: center;
}
.feed #feed-trending{
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    place-items: center;
    padding: 20px;
}
div[id^="accc"]{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: var(--web-font);
}
div[id^="accc"] > p > span{
    color:rgb(85, 85, 85);
    font-size: 0.8rem;
    font-weight: 300;
}